<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= if String.length(assigns[:page_title] || "") > 0 do %>
        <%= assigns[:page_title] %> · Prenix Components
      <% else %>
        Prenix Components
      <% end %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <._navbar />

    <%= @inner_content %>
  </body>
</html>
