<header class="bg-gray-300">
  <nav class="container">
    <div class="flex justify-between items-center gap-4 py-2">
      <a href="/">
        Prenix Components
      </a>

      <div class="flex gap-4 items-center">
        <a href={~p"/docs/button"}>
          Docs
        </a>
      </div>
    </div>
  </nav>
</header>
