<h2>Usage</h2>
<div class="preview">
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" />
</div>

<h2>Sizes</h2>
<div class="preview">
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" size="sm" />
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" />
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" size="lg" />
</div>

<h2>Radius</h2>
<div class="preview">
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" />
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" radius="lg" />
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" radius="md" />
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" radius="sm" />
</div>

<h2>Fallback</h2>
<div class="preview">
  <.avatar src="" />
  <.avatar src="" show_fallback size="sm" />
  <.avatar src="" show_fallback />
  <.avatar src="" show_fallback size="lg" />
  <.avatar src="" show_fallback fallback_icon="mdi-filled-person-4" />
  <.avatar src="" show_fallback fallback_name="SY" class="!text-base" />
</div>

<h2>Bordered</h2>
<div class="preview">
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" bordered />
</div>

<h2>Colors</h2>
<div class="preview">
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" bordered />
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" bordered color="primary" />
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" bordered color="secondary" />
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" bordered color="success" />
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" bordered color="warning" />
  <.avatar src="https://i.pravatar.cc/150?u=a042581f4e29026024d" bordered color="danger" />
</div>
