<h2>Colors</h2>
<div class="preview text-[hsl(var(--foreground))]">
  <.spinner />
  <.spinner color="default" />
  <.spinner color="primary" />
  <.spinner color="secondary" />
  <.spinner color="success" />
  <.spinner color="warning" />
  <.spinner color="danger" />
</div>

<h2>Size</h2>
<div class="preview">
  <.spinner size="sm" color="primary" />
  <.spinner color="primary" />
  <.spinner size="lg" color="primary" />
</div>
